{# SolwedShadcn — Ajustes (PanelController override) #}
{% extends "Master/PanelController.html.twig" %}

{% block bodyHeaderOptions %}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-1">
                <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ trans('refresh') }}">
                        <i data-lucide="refresh-cw" class="w-4 h-4"></i>
                    </a>
                </div>
            </div>
            <div class="col-11 text-end">
                <h1 class="h4 font-heading font-semibold">
                    {{ fsc.title }}
                    <i class="{{ pageData.icon }} fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
